# AddDefaultCharset utf-8

# RewriteRule ^about?$ about.php [NC, L]
# RewriteRule ^404?$ 404.php [NC, L]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule . /index.html [L]

# ErrorDocument 404 /404.php